#news{
    margin-top: 2em;
    ul{
        background-color: #faddd3;
        padding: 0.3em;
        border-radius: 6px;

        li{
            padding: 0.3em 0;
            list-style: none;
        }
    }
}