header{
    #header-bar{
        display: flex;
        justify-content: space-between;
        padding: 10pt 5pt;
    }
    h1{
        a{
            font-size: 40pt;
            text-decoration: none;
            color: #00b9f2;
        }

        
    }
    nav{
        width: 50%;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;
            margin-top: 20pt;
            flex-wrap:wrap;

            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: #00b9f2;
                text-decoration: underline;
            }
        }
    }
    #hero{
        background-image: url("../images/illuminated-keyboard-1242287.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        div{
            padding-right:50px;
            margin: 25pt 0;
        }
        p{
            font-size: 40pt;
            color: #00b9f2;
            background-color: white;
            display: inline;
            line-height: 54pt;
        }
        button{
            color: white;
            background-color: #45b348;
            border: none;
            font-size: 20pt;
            padding: 10pt;
            border-radius: 6px;
            display: block;
            margin-top: 10pt;
            cursor: pointer;
        }
    }
}