#news{
    margin-top: 40pt;
    ul{
        background-color: #faddd3;
        padding: 5pt;
        border-radius: 6px;

        li{
            padding: 3pt;
            list-style: none;
        }
    }
}