main{
  .grid{
    display: grid;
    height:500px;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "pic_ubuntu  name_herzog  name_herzog  pic_herzog  symbol  pic_mueller  pic_mueller  pic_mueller"
      "name_ubuntu  name_ubuntu  quote_herzog quote_herzog  symbol  pic_mueller  pic_mueller  pic_mueller"
      "quote_ubuntu  quote_ubuntu  quote_ubuntu  empty_herzog  text_mueller  text_mueller text_mueller text_mueller";
    #pic_ubuntu{
      grid-area: pic_ubuntu;

      background-image:url("../images/dina-meyer.jpg");
      background-color:rgb(255,252,214);
      background-size:cover;
      background-position:center;
      margin:10px;
    }
    #test{
      background-color:rgb(255,252,214);
    }
    #name_ubuntu{
      grid-area: name_ubuntu;
      background-color:rgb(255,252,214);
    }
    #quote_ubuntu{
      grid-area: quote_ubuntu;
      background-color:rgb(255,252,214);
    }
    #pic_herzog{
      grid-area: pic_herzog;
      background-color:rgb(199,235,252);
      background-image:url("../images/thomas-meyer.jpg");
      background-size:cover;
      background-position:center;
    }
    #name_herzog{
      grid-area: name_herzog;
      background-color:rgb(199,235,252);
    }
    #quote_herzog{
      grid-area: quote_herzog;
      background-color:rgb(199,235,252);
    }
    #empty_herzog{
      grid-area: empty_herzog;
      background-color:rgb(199,235,252);
    }
    #symbol{
      grid-area: symbol;
      background-color:rgb(0,173,238);
      svg{
        width:100%;
        height:180px;
        padding:10px;
      }
    }
    #pic_mueller{
      grid-area: pic_mueller;
      background-color:rgb(217,235,211);
      background-image:url("../images/vorstand.jpg");
      background-size:cover;
      background-position:center;
    }
    #text_mueller{
      grid-area: text_mueller;
      background-color:rgb(217,235,211);
    }
  }
}