@import 'header', 'services', 'news', 'references', 'footer';

$myColor: #ff00ff;
$myFont: 'Zilla Slab';
$smallSize: 15pt;
$largeSize: 3em;
$mediumSize: 1.5em;

* {
  box-sizing:border-box;
  font-family: $myFont;
  font-size:$smallSize;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.full-width-container{
  width:100%;
  margin: 0 auto;
}

.max-width-container{
  width:100%;
  max-width:1000px;
  margin: 0 auto;
  padding:20px;
}

h2{
  margin-bottom: 0.8em;
  color: #00b9f2;
  font-size: $mediumSize;
}

a{
  text-decoration: none;
  color: #00b9f2;
}