@import 'header.scss','services.scss','news.scss','references.scss','footer.scss';

$myColor: #ff00ff;
$myFont: 'Zilla Slab';
$smallSize: 15pt;
$largeSize: 50pt;
$mediumSize: 22pt;

* {
  box-sizing:border-box;
  font-family: $myFont;
  font-size:$smallSize;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.full-width-container{
  width:100%;
  margin: 0 auto;
}

.max-width-container{
  width:100%;
  max-width:1000px;
  margin: 0 auto;
  padding:20px;
}

h2{
  margin-bottom: 15pt;
  color: #00b9f2;
  font-size: 22pt;
}

a{
  text-decoration: none;
  color: #00b9f2;
}